body {
    background-color: #162831;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

section {
    margin-left: 160px;
    margin-right: 160px;
}

header {
    margin-top: 30px;
    margin-bottom: 145px;
}

hr {
    opacity: 0.5;
    border: 0.5px solid #FFFFFF;
}

img {
    width: 400px;
}

.logo {
    width:85px;
}

.header-title {
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    margin-left: 240px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.nav > a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    margin-left: 70px;
}

.description-logo {
    height: 250px;
    border-radius: 10px;
}

.about {
    background-color: rgba(152, 201, 220, 0.5);
    border-radius: 10px;
    padding-top: 45px;
    padding-right: 70px;
    padding-bottom: 45px; 
    padding-left: 70px;
    margin-bottom: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.about-title {
    font-weight: 300;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-description {
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-text {
    text-align: center;
}

.content-box {
    text-align: center;
    background-color: rgba(152, 201, 220, 0.5);
    border-radius: 10px;
    color: #fff;
    padding-top: 85px;
    padding-right: 100px;
    padding-bottom: 85px;
    padding-left: 85px;
    margin-bottom: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.content-box-title {
    font-weight: 300;
    font-size: 40px;
}

.content-box-second-title {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 110px;
}

.content-box-btn {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    font-weight: 400;
    cursor: pointer;
    font-size: 25px;
    width: 300px;
    height: 80px;
    border-radius: 15px;
    padding-top: 25px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 25px;
}

.team-content {
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    justify-content: space-between;
    margin-bottom: 110px;
}

.member {
    width: 450px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(152, 201, 220, 0.5);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 45px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.member-left {
    width: 450px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(152, 201, 220, 0.5);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 45px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.info {
    text-align: center;
}

.info-title {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 50px;
}

.info-spec {
    font-size: 25px;
    font-weight: 400;
}

.photo {
    color: #000;
    text-align: center;
    width: 220px;
    height: 300px;
    border-radius: 10px;
    margin-right: 55px;
    object-fit: cover;
}

.photo-left {
    color: #000;
    text-align: center;
    width: 220px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 55px;
}