body {
    background-color: #162831;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

section {
    margin-left: 160px;
    margin-right: 160px;
}

header {
    margin-top: 30px;
    margin-bottom: 145px;
}

hr {
    opacity: 0.5;
    border: 0.5px solid #FFFFFF;
}

.header-title {
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    margin-left: 240px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.nav > a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    margin-left: 70px;
}

.description-logo {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: #fff;
}

.about {
    background-color: rgba(152, 201, 220, 0.5);
    border-radius: 10px;
    padding-top: 45px;
    padding-right: 70px;
    padding-bottom: 45px; 
    padding-left: 70px;
    margin-bottom: 150px;
}

.about-title {
    font-weight: 300;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-description {
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-text {
    text-align: center;
}

.content-box {
    text-align: center;
    background-color: rgba(152, 201, 220, 0.5);
    border-radius: 10px;
    color: #fff;
    padding-top: 85px;
    padding-right: 100px;
    padding-bottom: 85px;
    padding-left: 85px;
    margin-bottom: 150px;
}

.content-box-title {
    font-weight: 300;
    font-size: 40px;
}

.content-box-second-title {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 110px;
}

.content-box-btn {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    font-weight: 400;
    cursor: pointer;
    font-size: 25px;
    width: 300px;
    height: 80px;
    border-radius: 15px;
    padding-top: 25px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 25px;
}